<div class="row content pt-5" [@LoadingAnimation]="loadStatus">
	<div class="col-md-4">
		<h3>Коротко о себе</h3>
	</div>
	<div class="col-md-8">
    <p>
      Всем привет! Меня зовут Сергей. Я Frontend developer с опытом работы около 9 лет.
      Нравится создавать сложные пользовательские интерфейсы, внедрять микровзаимодействия, продумывать архитектуру
      крупных проектов. С лёгкостью подхвачу любой фреймверк, но в приоритете Angular.
    </p>
		<p>
      Предпочитаю полностью погружаться в продукт.
      Для меня взаимоотношения в команде и правильные процессы не менее важны чем техническая составляющая.
      Стремлюсь к тому, чтобы максимально эффективно использовать своё рабочее время.
		</p>
	</div>
	<div class="col-md-4">
		<h3>Что могу</h3>
	</div>
	<div class="col-md-8">
		<h5>Frontend</h5>
    <p>JavaScript(ES5-ES8), Angular 2+, RxJS, NGXS, SASS, Pug(Jade), D3js, SVG, Canvas</p>
    <h5>Mobile</h5>
    <p>
      <b>Native mobile apps</b> - разрабатываю мобильные приложение под Android и iOS используя Flutter/Dart.
    </p>
	</div>
  <div class="col-md-4">
    <h3>Иногда использую</h3>
    <small class="text-muted"></small>
  </div>
  <div class="col-md-8">
    <h5>Backend</h5>
    <p>NodeJS, PHP, Yii2, Symfony2, MySql, NoSQL, Firebase</p>
    <h5>CMS</h5>
    <p>MODX, 1C Bitrix, Joomla!, WordPress</p>
  </div>
</div>
