<div class="row content" [@LoadingAnimation]="loadStatus">
	<div class="col-md-8">
		<div class="contact__list pl-3">
			<p>Если у вас есть ко мне интересное предложение, или какие-то вопросы,
				то я полностью открыт к общению:</p>
			<ul>
				<li>Email: <a href="mailto:chernov.net@ya.ru">chernov.net@ya.ru</a></li>
				<li>GitHub: <a href="//github.com/sosed" target="_blank">github/sosed</a></li>
				<li>VK: <a href="//vk.com/muhavik" target="_blank">vk/chernov-sergey</a></li>
			</ul>
		</div>
	</div>
</div>
