<header class="header">
	<div class="container">
		<div class="col-md-12 d-flex flex-column flex-md-row align-items-center p-3 mb-3 pr-0 mr-0">
			<h1 class="my-0 mr-md-auto font-weight-normal logo text-center">
				<a routerLink="/">Чернов Сергей<span>Frontend developer</span></a>
			</h1>
			<nav class="my-2 my-md-0">
				<a class="p-2 text-dark" routerLink="/about">Обо мне</a>
				<a class="p-2 text-dark" routerLink="/projects">Проекты</a>
				<a class="p-2 text-dark" routerLink="/contacts">Контакты</a>
			</nav>
		</div>
	</div>
</header>
