<div class="card h-md-300 {{index%2==0 ? 'flex-lg-row flex-md-column' : 'flex-lg-row-reverse  flex-md-column'}}">
    <div class="image-wrapper flex-auto">
        <img class="project-image d-block"
             data-src="/assets/{{ project.img }}"
             src="/assets/{{ project.img }}"
             data-holder-rendered="true">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             x="0px" y="0px"
                             width="98px" height="100px" viewBox="0 0 98 100" enable-background="new 0 0 98 100" xml:space="preserve">
                            <path *ngFor="let ball of project.balls"
                                  [attr.opacity]="ball.opacity" [attr.fill]="ball.color" enable-background="new"
                                  d="M28.018,81.221c0,1.975-1.6,3.573-3.574,3.573l0,0c-1.974,0-3.574-1.601-3.574-3.573l0,0c0-1.975,1.601-3.574,3.574-3.574l0,0C26.418,77.646,28.018,79.246,28.018,81.221L28.018,81.221z"
                                  >
                                <animateTransform attributeName="transform"
                                                  attributeType="XML"
                                                  type="translate"
                                                  [attr.values]="ball.values"
                                                  [attr.dur]="ball.dur + 's'"
                                                  repeatCount="indefinite"/>

                            </path>
                        </svg>
    </div>
    <div class="card-body d-flex flex-column align-items-start">
        <h2 class="text-dark">{{project.name}}</h2>
        <div class="mt-2 mb-3" [innerHtml]="project.desc"></div>
        <div class="mb-1 text-muted project__tags">
                            <span class="badge mr-1" *ngFor="let tag of project.tags">
                                {{ tag }}
                            </span>
        </div>
    </div>
</div>