<div class="row content pt-4" [@LoadingAnimation]="loadStatus">

	<ng-container *ngIf="!isViewProject()">
		<div class="col-lg-7 pb-4">
			<h3>Топ {{countProject}} работ</h3>
			<small class="text-muted">
				Список избранных проектов, с которыми мне удалось поработать.
        Сюда не вошли некоторые интересные решения из-за DNA.
			</small>
		</div>
		<div class="col-lg-5 mb-4 d-flex justify-content-lg-end align-items-end h-lg-100">
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-outline-danger"
				       *ngFor="let filter of filters" [ngClass]="{'active': currentFilter==filter}">
					<input type="radio" name="options" autocomplete="off"
					       (click)="setFilter(filter)"
					       [checked]="currentFilter==filter">
					{{filter}}
				</label>
			</div>
		</div>
		<ng-container *ngFor="let project of projects; let index=index">
			<div class="col-lg-12 mb-4 project__item" [@project]>
				<div class="card h-md-300 flex-md-column {{index%2==0 ? 'flex-lg-row right' : 'flex-lg-row-reverse left'}}"
				     [ngClass]="project.state">
					<div class="image-wrapper flex-auto col-lg-5">
						<img class="project-image d-block"
						     src="//chernov-sergey.s3.eu-west-3.amazonaws.com/{{ project.img }}"
						     data-holder-rendered="true">
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
						     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						     width="98px" height="100px" viewBox="0 0 98 100" enable-background="new 0 0 98 100"
						     xml:space="preserve">
							<path *ngFor="let ball of project.balls"
							      [attr.opacity]="ball.opacity" [attr.fill]="ball.color" enable-background="new"
							      d="M28.018,81.221c0,1.975-1.6,3.573-3.574,3.573l0,0c-1.974,0-3.574-1.601-3.574-3.573l0,0c0-1.975,1.601-3.574,3.574-3.574l0,0C26.418,77.646,28.018,79.246,28.018,81.221L28.018,81.221z"
							>
								<animateTransform attributeName="transform"
								                  attributeType="XML"
								                  type="translate"
								                  [attr.values]="ball.values"
								                  [attr.dur]="ball.dur + 's'"
								                  repeatCount="indefinite"/>

							</path>
						</svg>
					</div>
					<div class="card-body d-flex flex-column align-items-start col-lg-7 p-lg-5 p-3">
						<h3 class="text-dark">{{project.name}}</h3>
						<div class="mt-2 mb-3" [innerHtml]="project.desc"></div>
						<div class="mb-1 text-muted project__tags mb-3">
	                        <span class="badge mr-1" *ngFor="let tag of project.tags">
	                            {{ tag }}
	                        </span>
						</div>
						<div class="pt-2 project__links d-flex flex-md-row">
							<a href="{{ project.git }}" *ngIf="project.git" class="git" target="_blank" rel="noopener nofollow">
								<svg enable-background="new 0 0 1024 1024" version="1.1" viewBox="0 0 1024 1024" width="16px"
								     height="16px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><g><path clip-rule="evenodd" fill="#555" d="M667.575,684.036c29.498,42.729,31.01,91.438,30.54,140.826    c-0.57,59.8-0.111,119.604-0.05,179.408c0.022,19.207-0.445,19.731-19.1,19.729c-78.256-0.012-156.512-0.005-234.769-0.007    c-17.454,0-19.02-1.667-18.996-19.188c0.055-38.141,0.018-76.282,0.018-116.467c-13.499,1.382-27.038,2.831-40.589,4.143    c-66.12,6.401-123.748-10.497-168.359-62.186c-6.244-7.236-11.229-15.609-16.383-23.721    c-22.712-35.758-44.708-71.988-68.222-107.205c-7.278-10.897-18.543-19.128-27.959-28.601c-4.959-4.988-9.87-10.026-15.707-15.965    c16.315-10.603,31.94-7.718,46.736-5.44c36.94,5.688,61.914,28.566,81.694,58.915c9.845,15.105,20.032,30.51,32.675,43.164    c40.49,40.528,89.668,53.605,145.37,40.97c35.929-8.152,28.961-4.369,34.328-37.189c3.585-21.921,9.63-42.799,21.561-61.729    c1.978-3.141,3.617-6.494,6.054-10.913c-15.766-3.111-30.49-5.605-45.016-8.956c-57.636-13.29-110.782-35.758-152.841-78.96    c-44.573-45.789-68.698-100.626-70.376-164.982c-1.411-54.079-1.079-107.997,11.167-161.119    c7.859-34.098,22.069-64.649,47.012-89.985c3.865-3.928,6.128-13.232,4.327-18.359c-17.77-50.603-15.334-100.626,1.086-150.939    c2.823-8.653,5.798-10.738,14.439-8.377c31.695,8.664,58.827,25.018,81.457,48.459c15.443,15.996,29.577,33.263,44.914,50.663    c39.151-28.285,85.473-29.278,131.177-31.946c50.531-2.949,101.104-2.15,150.76,8.614c19.284,4.182,37.626,12.71,54.768,18.69    c20.14-19.135,40.941-38.615,61.418-58.433c18.493-17.898,40.396-29.047,65.105-35.647c9.458-2.526,14.257-0.28,17.46,8.951    c16.997,48.973,19.867,97.926,0.771,147.019c-2.784,7.161-4.695,13.899,1.884,20.188c33.405,31.945,50.024,72.171,53.556,117.249    c3.73,47.601,8.206,95.606,5.865,143.117c-4.347,88.167-48.115,154.374-124.163,198.896    c-40.771,23.87-85.285,36.961-131.779,43.855c-2.664,0.394-5.354,0.662-7.979,1.232    C670.368,682.044,669.446,682.926,667.575,684.036z" fill-rule="evenodd"/></g></svg>
								<span class="ml-2">Git</span>
							</a>
							<a href="{{ project.link }}" *ngIf="project.link" target="_blank" rel="noopener nofollow"
							   class="project__link">
								<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
								     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 457.03 457.03"
								     style="enable-background:new 0 0 457.03 457.03;" width="16" height="16"
								     xml:space="preserve">
								<g>
									<path fill="#555" d="M421.512,207.074l-85.795,85.767c-47.352,47.38-124.169,47.38-171.529,0c-7.46-7.439-13.296-15.821-18.421-24.465
										l39.864-39.861c1.895-1.911,4.235-3.006,6.471-4.296c2.756,9.416,7.567,18.33,14.972,25.736c23.648,23.667,62.128,23.634,85.762,0
										l85.768-85.765c23.666-23.664,23.666-62.135,0-85.781c-23.635-23.646-62.105-23.646-85.768,0l-30.499,30.532
										c-24.75-9.637-51.415-12.228-77.373-8.424l64.991-64.989c47.38-47.371,124.177-47.371,171.557,0
										C468.869,82.897,468.869,159.706,421.512,207.074z M194.708,348.104l-30.521,30.532c-23.646,23.634-62.128,23.634-85.778,0
										c-23.648-23.667-23.648-62.138,0-85.795l85.778-85.767c23.665-23.662,62.121-23.662,85.767,0
										c7.388,7.39,12.204,16.302,14.986,25.706c2.249-1.307,4.56-2.369,6.454-4.266l39.861-39.845
										c-5.092-8.678-10.958-17.03-18.421-24.477c-47.348-47.371-124.172-47.371-171.543,0L35.526,249.96
										c-47.366,47.385-47.366,124.172,0,171.553c47.371,47.356,124.177,47.356,171.547,0l65.008-65.003
										C246.109,360.336,219.437,357.723,194.708,348.104z"/>
								</g>
								</svg>
								<span class="ml-2">{{project.linkName ? project.linkName : project.name}}</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</ng-container>
	<router-outlet></router-outlet>
</div>
