<div class="w-100" #canvasWrapper>
</div>
<canvas #canvas></canvas>
<ng-container *ngIf="slides.length > 1">
	<ol class="carousel-indicators">
		<li *ngFor="let slide of slides; let i = index"
		    [ngClass]="{'active': i == currentSlide}"
		    (click)="nextSlide(i)">
		</li>
	</ol>
</ng-container>
