$color-intro: #8a347c;
$color-black: #424254;
$color-red: #CC2A41;
$color-grey: #64908A;


html {
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-size: 16px;
  //$color1: #fffff9;
  //$color2: #f1ffff;
  //background: -moz-linear-gradient(-45deg,  $color1 32%, $color2 68%); /* FF3.6-15 */
  //background: -webkit-linear-gradient(-45deg,  $color1 32%,$color2 68%); /* Chrome10-25,Safari5.1-6 */
  //background: linear-gradient(135deg,  $color1 32%,$color2 68%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  min-height: 100%;
  height: 100%;
  background-attachment: fixed;
}

a {
  color: $color-red;
  &:hover {
    color: darken($color-red, 10%);
  }
}

p {
  line-height: 150%;
}

.logo {
  a {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    color: black;
    font-weight: bold;
    span {
      font-weight: 100;
      font-size: 1rem;
    }
    &:hover {
      text-decoration: none;
    }
  }
}


.project {
  &__item {
    transition: all .4s;
    .card {
      box-shadow: 3px 2px 42px 0 rgba(0, 0, 0, 0.15);
      background-color: white;
      border: none;
      height: 100%;
    }
    .image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e9eff6;
      position: relative;
      z-index: 5;
      height: 100%;
      overflow: hidden;
      img {
        z-index: 8;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.05);
        height: 220px;
        width: auto;
        display: inline-block;
        position: relative;
        margin: 20px;
      }
      svg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5;
      }
    }
    .card-body {
      z-index: 10;
      background-color: white;
      height: 100%;
    }
    .init {
      img {
        transition: none;
        opacity: 0;
      }
      &.right {
        img {
          transform: translateX(100%);
        }
      }
      &.left {
        img {
          transform: translateX(-100%);
        }
      }
    }
    .loaded {
      img {
        transition: all ease-in-out .5s;
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
  &__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-radius: 5px 5px 0 0;
  }
  &__tags {
    .badge {
      padding: 0.375rem 0.625rem;
      margin-bottom: 3px;
      line-height: 0.75rem;
      font-weight: bold;
      font-size: 0.625rem;
      border: 1px solid #ccc;
      border-radius: 2px;
      text-transform: uppercase;
      position: relative;
    }
  }
  &__links {
    a {
      border-radius: 4px;
      padding: 5px 10px;
      color: #555;
      font-size: 14px;
    }
    .git {
      fill:none;stroke:#303c42;stroke-linecap:round;stroke-linejoin:round
    }
  }
}

.project-detail {
  display: flex;
  flex-direction: row;
  .img-preview {
    z-index: 10;
  }
  .text {
    z-index: 5;
    background-color: white;
    padding: 15px;
    overflow: hidden;
    max-width: 320px;
    max-height: 230px;
    transition: all ease-out .25s;
    transform: translateX(-320px);
    box-shadow: 3px 2px 42px 0 rgba(0, 0, 0, 0.15);
    opacity: 0;
  }
  &.expanding {
    .text {
      opacity: 1;
      max-width: 100%;
      max-height: 100%;
      transform: translateX(0);
    }
  }
}

@media (max-width: 991px) {
  .project {
    &__item {
      .card {
        height: auto;
      }
    }
  }
}

/** * * * * * * * * * * * * * * * * * * * *
 * About
 * * * * * * * * * * * * * * * * * * * * */

.timeline {
  background-color: #fcfcfc;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.05);
}

.timeline-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}

.timeline {
  .badges {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    .badge {
      margin-top: 10px;
    }
  }
}
.badge {
  font-weight: normal;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI", Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  &-danger {
    background-color: #e79cc0;
  }
  &-success {
    background-color: #37a70b;
  }
  &-primary {
    background-color: #5fb3e2;
  }
  &-secondary {
    background-color: #5f5f5f;
  }
}

/** * * * * * * * * * * * * * * * * * * * *
 * Contacts
 * * * * * * * * * * * * * * * * * * * * */
.contact {
  margin-top: 2em;
  ul {
    margin-left: 2em;
    margin-top: 0.5em;
  }
  &__list {
    padding-top: 2em;
  }
  &, .copyright {
    padding-top: 2em;

  }
  .copyright {
    margin-top: 2em;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      width: 5em;
      border-top: 1px solid $color-red;
    }
  }
}
